# Les fichiers de base générés par Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Les fichiers de logs
*.log

# Les fichiers de configuration IDE (Eclipse, IDEA)
*.iml
*.ipr
*.iws
.idea/
*.class
*.project
*.classpath
.settings/
.vscode/

# Les fichiers OS spécifiques
.DS_Store
Thumbs.db

# Fichiers de configuration spécifiques à certains outils
.mvn

# fichier java
src/main/resources/DBConnection
